body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 2;
    margin: 0;
    color: #342F2F;
    background-color: #F0F8F6 ;
}

.prace {
    background-color: #D0BDBC;
    padding: 15px 10%;
}

section {
    padding: 15px 10%;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color:#D0BDBC ;
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: 15px;
}

.pozice {
    font-weight: bold;
}

.paticka {
    background-color: #D0BDBC;
    text-align: center;
    padding: 20px 0 20px 0;
}

a {
    font-style: italic;
    color: #D0BDBC;
}

.foto-uvod {
    width: 200px;
    border: 2px solid #C5D0BC;
    border-radius: 30px;
    float: left;
    margin: 20px 50px 0px 90px;
    }

.adresa {
    font-size: 20px;
    font-weight: bold;
    padding: 40px 10%;
    text-align: center;
}

.prace-uvod {
    display: inline-block;
}

table {
    width: 100%;
}

.tab-nazev {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.tab-radek {
    text-align: center;
    }

.lista {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.lista li {
    display: inline-block;
    font-weight: bold;
    color: #4E4747;
    font-size: 20px;
    padding: 0 15px;
}
